<section class="section section--animated about" id="about">
    <div class="container">
        <div class="section__content">
            <div class="section__title">
                <h2>{{ data.aboutTitle }}</h2>
            </div>
            <div class="about__row">
                <div class="about__image">
                    <img src="../../img/about-bg.jpg" alt="" class="about__pic">
                </div>
                <div class="about__text about__text--mobile">
                    {{ data.aboutText }}
                </div>
                <div class="about__mobile">
                    {{ data.aboutMobile }}
                </div>
            </div>
            <div class="about__mobile">
                    {{ data.aboutMobile_2 }}
            </div>
            <div class="about__text">
                {{ data.aboutLineup }}
            </div>
        </div>
    </div>
</section>