<footer class="section section--animated footer">
    <div class="container">
        <div class="section__title">
            <h2>{{ data.footerTitle }}</h2>
        </div>
        <div class="form">
            <form action="../../mail.php" method="post" class="form__elem" id="form">
                <div class="form__row">
                    <label for="name" class="input__title">{{ data.formInput }}</label>
                    <input type="text" class="form__input" name="name" id="name" required>
                </div>
                <div class="form__row">
                    <label for="message" class="input__title">{{ data.formInputTwo }}</label>
                    <textarea name="message" id="message" rows="7" class="form__input form__input--message" required></textarea>
                </div>
                <button class="btn btn--form" type="submit" value="Отправить">{{ data.formBtn }}</button>
            </form>
        </div>
    </div>
    <div class="section__content">
        <div class="copyright">
            <p>{{ data.copyright }}</p>
        </div>
    </div>
</footer>

<div class="hidden__message" id="hidden-message">
    <div class="modal__text">{{ data.mailSuccess }}</div>
    <a href="#" data-fancybox-close class="btn btn--merch btn--modal">{{ data.mailBtn }}</a>
</div>

<div class="hidden__message" id="hidden-message--negative">
    <div class="modal__text">{{ data.mailFail }}</div>
    <a href="#" data-fancybox-close class="btn btn--merch btn--modal">{{ data.mailBtn }}</a>
</div>