<header class="section header" id="header">
    <div class="header__top">
        <div class="container header__container">
            <a href="/" class="logo">
                <img alt="logo" class="logo__pic" src="../../img/logo-w.png"></a>
            <nav class="navigation">
                <ul class="nav__list" id="menu">
                    {% for item in data.menu %}
                        <li class="nav__item">
                            <a href="{{ item.link }}" class="nav__link anchor">
                                {{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <div class="header__right">
                <div class="social-btns">
                    {% for item in data.socials %}
                        <a href="{{ item.link }}" class="social__link" target="_blank">
                            <i class="{{ item.icon }}" aria-hidden="true"></i>
                        </a>
                    {% endfor %}
                </div>
                <div class="language">
                    <a href="../ru/" class="language__link">
                        <img alt="" class="language__pic" src="../../img/russia.png"></a>
                    <a href="../en/" class="language__link">
                        <img alt="" class="language__pic" src="../../img/uk.png"></a>
                </div>
                <div class="hamburger">
                    <div class="ham__link"></div>
                    <div class="ham__link"></div>
                    <div class="ham__link"></div>
                </div>
            </div>
        </div>
    </div>
{#    <div class="header__logo">#}
{#        <img src="../../img/logo-w.png" alt="" class="header__pic">#}
{#    </div>#}
    <div class="mobile__logo">
        <img src="../../img/break_free.jpg" alt="" class="header__pic">
    </div>
    {# <img src="../../img/logo.png" alt="logo-big" class="logo__big"> #}
    <a href="#album" class="btn btn--header anchor">
        {{ data.headerOrder }}</a>
    <div class="header__video">
        <img src="../../img/main.jpg" alt="" class="video__instead">
        <div class="video__cover"></div>
{#        <video class="video__bg" autoplay="autoplay" id="video-bg" loop muted>#}
{#            <source src="../../img/video/header-video.mp4" type="video/mp4">#}
{#        </video>#}
    </div>
</header>
        