<section class="section section--animated shows" id="shows">
    <div class="container">
        <div class="section__content">
            <div class="section__title">
                <h2>{{ data.showsTitle }}</h2>
            </div>
            <div class="shows__block">
                <div class="shows__triggers">
                    <a href="#upcoming" class="shows__trigger shows__trigger--active">Upcoming</a>
                    <a href="#2019" class="shows__trigger">2019</a>
                    <a href="#2018" class="shows__trigger">2018</a>
                </div>
                <div class="shows__list" id="upcoming">
                    {% for item in data.shows %}
                        {% if item.status == false %}
                            <a href="{{ item.link }}" class="shows__link" target="_blank">
                                <div class="shows__row">
                                    <div class="date">{{ item.date }}</div>
                                    <div class="event">{{ item.event }}</div>
                                    <div class="city">{{ item.city }}</div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="shows__list shows__list--hidden" id="2019">
                    {% for item in data.shows %}
                        {% if item.status == true %}
                            {% if item.year == '2019' %}
                                <a href="{{ item.link }}" class="shows__link" target="_blank">
                                    <div class="shows__row">
                                        <div class="date">{{ item.date }}</div>
                                        <div class="event">{{ item.event }}</div>
                                        <div class="city">{{ item.city }}</div>
                                    </div>
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="shows__list shows__list--hidden" id="2018">
                    {% for item in data.shows %}
                        {% if item.status == true %}
                            {% if item.year == '2018' %}
                                <a href="{{ item.link }}" class="shows__link" target="_blank">
                                    <div class="shows__row">
                                        <div class="date">{{ item.date }}</div>
                                        <div class="event">{{ item.event }}</div>
                                        <div class="city">{{ item.city }}</div>
                                    </div>
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>